{% block oh_google_maps_widget %}
<div {{ block('widget_container_attributes') }}>
	{% block oh_google_maps_html %} 
	<div id="{{ id }}_container">
		<input type="text" id="{{ id }}_input" />
		
		<button id="{{ id }}_search_button" class="btn btn-primary">Lokalizuj</button>

		<div id="{{ id }}_map_canvas" class="gmap" style="width: {{ map_width }}px; height: {{ map_height }}px"></div>
		<div id="{{ id }}_error"></div>
	</div>
	{% endblock %}
	{% block oh_google_maps_fields %} 
		{% for child in form %}
		    {{ form_row(child) }}
        {% endfor %}
	{% endblock %}
</div>
{% endblock %}